USE [master]
GO
/****** Object:  Database [db_produtos]    Script Date: 04/17/2017 02:24:21 ******/
CREATE DATABASE [db_produtos] ON  PRIMARY 
( NAME = N'db_produtos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\db_produtos.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_produtos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\db_produtos_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_produtos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_produtos]
GO
/****** Object:  Table [dbo].[IND_GRUPOS_PRODUTOS]    Script Date: 04/17/2017 02:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IND_GRUPOS_PRODUTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GRP_DESCRICAO] [varchar](50) NOT NULL,
	[AUD_DEL] [smallint] NOT NULL,
	[AUD_DATCAD] [date] NOT NULL,
	[AUD_USUCAD] [varchar](50) NULL,
	[AUD_DATULTALT] [date] NULL,
	[AUD_USUULTALT] [varchar](50) NULL,
	[AUD_DATEXC] [date] NULL,
	[AUD_USUEXC] [varchar](50) NULL,
 CONSTRAINT [PK_IND_GRUPOS_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COM_NCMS]    Script Date: 04/17/2017 02:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_NCMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOPAI_ID] [int] NULL,
	[NCM_CODIGO] [varchar](15) NOT NULL,
	[NCM_CODIGOPAI] [varchar](15) NULL,
	[NCM_DESCRICAO] [varchar](200) NULL,
	[NCM_TRIBUTADO] [smallint] NOT NULL,
	[NCM_ALIQUOTA] [decimal](15, 4) NULL,
	[NCM_NOTA] [text] NULL,
	[AUD_DEL] [int] NOT NULL,
	[AUD_DATCAD] [date] NOT NULL,
	[AUD_USUCAD] [varchar](50) NULL,
	[AUD_DATULTALT] [date] NULL,
	[AUD_USUULTALT] [varchar](50) NULL,
	[AUD_DATEXC] [date] NULL,
	[AUD_USUEXC] [varchar](50) NULL,
 CONSTRAINT [PK_COM_NCMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADM_EMPRESAS]    Script Date: 04/17/2017 02:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADM_EMPRESAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_RAZAOSOCIAL] [varchar](200) NOT NULL,
	[EMP_NOMEFANTASIA] [varchar](100) NULL,
	[EMP_TIPOPESSOA] [char](1) NOT NULL,
	[EMP_CNPJCPF] [varchar](20) NOT NULL,
	[EMP_INSCRESTADUAL] [varchar](20) NULL,
	[EMP_INSCRMUNICIPAL] [varchar](20) NULL,
	[EMP_PISCOFINS] [smallint] NOT NULL,
	[EMP_ALIQPIS] [decimal](15, 4) NOT NULL,
	[EMP_ALIQCOFINS] [decimal](15, 4) NOT NULL,
	[EMP_CEP] [varchar](10) NULL,
	[EMP_LOGRADOURO] [varchar](100) NULL,
	[EMP_NUMERO] [varchar](10) NULL,
	[EMP_BAIRRO] [varchar](100) NULL,
	[EMP_MUNICIPIO] [varchar](100) NULL,
	[EMP_UF] [varchar](2) NULL,
	[EMP_PAGINA] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[AUD_DEL] [smallint] NOT NULL,
	[AUD_DATCAD] [date] NOT NULL,
	[AUD_USUCAD] [varchar](50) NULL,
	[AUD_DATULTALT] [date] NULL,
	[AUD_USUULTALT] [varchar](50) NULL,
	[AUD_DATEXC] [date] NULL,
	[AUD_USUEXC] [varchar](50) NULL,
 CONSTRAINT [PK_ADM_EMPRESAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IND_UNIDADE_MEDIDAS]    Script Date: 04/17/2017 02:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IND_UNIDADE_MEDIDAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UNM_DESCRICAO] [varchar](50) NOT NULL,
	[UNM_SIGLA] [varchar](3) NOT NULL,
	[AUD_DEL] [smallint] NOT NULL,
	[AUD_DATCAD] [date] NOT NULL,
	[AUD_USUCAD] [varchar](50) NULL,
	[AUD_DATULTALT] [date] NULL,
	[AUD_USUULTALT] [varchar](50) NULL,
	[AUD_DATEXC] [date] NULL,
	[AUD_USUEXC] [varchar](50) NULL,
 CONSTRAINT [PK_IND_UNIDADE_MEDIDAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IND_PRODUTOS]    Script Date: 04/17/2017 02:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IND_PRODUTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GRUPO_PRODUTO_ID] [int] NOT NULL,
	[UNIDADE_MEDIDA_ID] [int] NOT NULL,
	[NCM_ID] [int] NOT NULL,
	[PRD_CODBARRAS] [varchar](20) NOT NULL,
	[PRD_CODIGO] [varchar](20) NULL,
	[PRD_APELIDO] [varchar](50) NULL,
	[PRD_DESCRICAO] [varchar](100) NOT NULL,
	[PRD_DESCRICAOFISCAL] [varchar](70) NULL,
	[PRD_DESCRICAOTECNICA] [text] NULL,
	[PRD_TIPOPRODUTO] [smallint] NOT NULL,
	[PRD_PESOBRUTO] [decimal](15, 4) NOT NULL,
	[PRD_PESOLIQUIDO] [decimal](15, 4) NOT NULL,
	[PRD_FOTO] [image] NULL,
	[AUD_DEL] [int] NOT NULL,
	[AUD_DATCAD] [date] NOT NULL,
	[AUD_USUCAD] [varchar](50) NULL,
	[AUD_DATULTALT] [date] NULL,
	[AUD_USUULTALT] [varchar](50) NULL,
	[AUD_DATEXC] [date] NULL,
	[AUD_USUEXC] [varchar](50) NULL,
 CONSTRAINT [PK_IND_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IND_PRODUTOS_EMPRESAS]    Script Date: 04/17/2017 02:24:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IND_PRODUTOS_EMPRESAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPRESA_ID] [int] NOT NULL,
	[PRODUTO_ID] [int] NOT NULL,
	[PRE_PRECOCUSTO] [decimal](15, 4) NOT NULL,
	[PRE_CUSTOMEDIO] [decimal](15, 4) NOT NULL,
	[PRE_CUSTOCONTABIL] [decimal](15, 4) NOT NULL,
	[PRE_CUSTOGERENCIAL] [decimal](15, 4) NOT NULL,
	[PRE_PRECOVENDA] [decimal](15, 4) NOT NULL,
	[PRE_PERCCUSTOOPER] [decimal](15, 4) NOT NULL,
	[PRE_MARGEMLUCRO] [decimal](15, 4) NOT NULL,
	[PRE_DATAULTVENDA] [date] NULL,
	[PRE_VLRULTVENDA] [decimal](15, 4) NOT NULL,
	[PRE_DATAULTCOMPRA] [date] NULL,
	[PRE_VLRULTCOMPRA] [decimal](15, 4) NOT NULL,
	[PRE_SALDO_ANTERIOR] [decimal](15, 4) NOT NULL,
	[PRE_SALDO_ATUAL] [decimal](15, 4) NOT NULL,
	[PRE_SALDO_DISPONIVEL] [decimal](15, 4) NOT NULL,
	[PRE_SALDO_RESERVADO] [decimal](15, 4) NOT NULL,
	[PRE_STATUS] [smallint] NOT NULL,
	[AUD_DEL] [int] NOT NULL,
	[AUD_DATCAD] [date] NOT NULL,
	[AUD_USUCAD] [varchar](50) NULL,
	[AUD_DATULTALT] [date] NULL,
	[AUD_USUULTALT] [varchar](50) NULL,
	[AUD_DATEXC] [date] NULL,
	[AUD_USUEXC] [varchar](50) NULL,
 CONSTRAINT [PK_IND_PRODUTOS_EMPRESAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__IND_GRUPO__AUD_D__07020F21]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_GRUPOS_PRODUTOS] ADD  DEFAULT ((0)) FOR [AUD_DEL]
GO
/****** Object:  Default [DF__IND_GRUPO__AUD_D__07F6335A]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_GRUPOS_PRODUTOS] ADD  DEFAULT (getdate()) FOR [AUD_DATCAD]
GO
/****** Object:  Default [DF__COM_NCMS__NCM_TR__0EA330E9]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[COM_NCMS] ADD  DEFAULT ((0)) FOR [NCM_TRIBUTADO]
GO
/****** Object:  Default [DF__COM_NCMS__AUD_DE__0F975522]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[COM_NCMS] ADD  DEFAULT ((0)) FOR [AUD_DEL]
GO
/****** Object:  Default [DF__COM_NCMS__AUD_DA__108B795B]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[COM_NCMS] ADD  DEFAULT (getdate()) FOR [AUD_DATCAD]
GO
/****** Object:  Default [DF__ADM_EMPRE__EMP_T__7F60ED59]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[ADM_EMPRESAS] ADD  DEFAULT ('J') FOR [EMP_TIPOPESSOA]
GO
/****** Object:  Default [DF__ADM_EMPRE__EMP_P__00551192]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[ADM_EMPRESAS] ADD  DEFAULT ((0)) FOR [EMP_PISCOFINS]
GO
/****** Object:  Default [DF__ADM_EMPRE__EMP_A__014935CB]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[ADM_EMPRESAS] ADD  DEFAULT ((0)) FOR [EMP_ALIQPIS]
GO
/****** Object:  Default [DF__ADM_EMPRE__EMP_A__023D5A04]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[ADM_EMPRESAS] ADD  DEFAULT ((0)) FOR [EMP_ALIQCOFINS]
GO
/****** Object:  Default [DF__ADM_EMPRE__AUD_D__03317E3D]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[ADM_EMPRESAS] ADD  DEFAULT ((0)) FOR [AUD_DEL]
GO
/****** Object:  Default [DF__ADM_EMPRE__AUD_D__0425A276]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[ADM_EMPRESAS] ADD  DEFAULT (getdate()) FOR [AUD_DATCAD]
GO
/****** Object:  Default [DF__IND_UNIDA__AUD_D__0AD2A005]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_UNIDADE_MEDIDAS] ADD  DEFAULT ((0)) FOR [AUD_DEL]
GO
/****** Object:  Default [DF__IND_UNIDA__AUD_D__0BC6C43E]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_UNIDADE_MEDIDAS] ADD  DEFAULT (getdate()) FOR [AUD_DATCAD]
GO
/****** Object:  Default [DF__IND_PRODU__PRD_T__1BFD2C07]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS] ADD  DEFAULT ((0)) FOR [PRD_TIPOPRODUTO]
GO
/****** Object:  Default [DF__IND_PRODU__PRD_P__1CF15040]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS] ADD  DEFAULT ((0)) FOR [PRD_PESOBRUTO]
GO
/****** Object:  Default [DF__IND_PRODU__PRD_P__1DE57479]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS] ADD  DEFAULT ((0)) FOR [PRD_PESOLIQUIDO]
GO
/****** Object:  Default [DF__IND_PRODU__AUD_D__1ED998B2]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS] ADD  DEFAULT ((0)) FOR [AUD_DEL]
GO
/****** Object:  Default [DF__IND_PRODU__AUD_D__1FCDBCEB]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS] ADD  DEFAULT (getdate()) FOR [AUD_DATCAD]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_P__571DF1D5]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_PRECOCUSTO]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_C__5812160E]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_CUSTOMEDIO]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_C__59063A47]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_CUSTOCONTABIL]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_C__59FA5E80]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_CUSTOGERENCIAL]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_P__5AEE82B9]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_PRECOVENDA]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_P__5BE2A6F2]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_PERCCUSTOOPER]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_M__5CD6CB2B]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_MARGEMLUCRO]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_V__5DCAEF64]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_VLRULTVENDA]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_V__5EBF139D]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_VLRULTCOMPRA]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_S__5FB337D6]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_SALDO_ANTERIOR]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_S__60A75C0F]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_SALDO_ATUAL]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_S__619B8048]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_SALDO_DISPONIVEL]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_S__628FA481]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_SALDO_RESERVADO]
GO
/****** Object:  Default [DF__IND_PRODU__PRE_S__6383C8BA]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [PRE_STATUS]
GO
/****** Object:  Default [DF__IND_PRODU__AUD_D__6477ECF3]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT ((0)) FOR [AUD_DEL]
GO
/****** Object:  Default [DF__IND_PRODU__AUD_D__656C112C]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] ADD  DEFAULT (getdate()) FOR [AUD_DATCAD]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_GRUPO_PRODUTO_ID]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_GRUPO_PRODUTO_ID] FOREIGN KEY([GRUPO_PRODUTO_ID])
REFERENCES [dbo].[IND_GRUPOS_PRODUTOS] ([ID])
GO
ALTER TABLE [dbo].[IND_PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_GRUPO_PRODUTO_ID]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_NCM_ID]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_NCM_ID] FOREIGN KEY([NCM_ID])
REFERENCES [dbo].[COM_NCMS] ([ID])
GO
ALTER TABLE [dbo].[IND_PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_NCM_ID]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_UNIDADE_MEDIDA_ID]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_UNIDADE_MEDIDA_ID] FOREIGN KEY([UNIDADE_MEDIDA_ID])
REFERENCES [dbo].[IND_UNIDADE_MEDIDAS] ([ID])
GO
ALTER TABLE [dbo].[IND_PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_UNIDADE_MEDIDA_ID]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_EMPRESAS_EMPRESA_ID]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_EMPRESAS_EMPRESA_ID] FOREIGN KEY([EMPRESA_ID])
REFERENCES [dbo].[ADM_EMPRESAS] ([ID])
GO
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] CHECK CONSTRAINT [FK_PRODUTOS_EMPRESAS_EMPRESA_ID]
GO
/****** Object:  ForeignKey [FK_PRODUTOS_EMPRESAS_PRODUTO_ID]    Script Date: 04/17/2017 02:24:23 ******/
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_EMPRESAS_PRODUTO_ID] FOREIGN KEY([PRODUTO_ID])
REFERENCES [dbo].[IND_PRODUTOS] ([ID])
GO
ALTER TABLE [dbo].[IND_PRODUTOS_EMPRESAS] CHECK CONSTRAINT [FK_PRODUTOS_EMPRESAS_PRODUTO_ID]
GO
